#scroll-show{
    width: 100%;
    height: 63px;
}
.scroll-show{
    width:1280px;
    height: 63px;
}
.scroll-show-fix{
    width:1280px;
    height: 60px;
    /* background: pink; */
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;  
}
.scroll-show-iphone-title{
    height: 60px;
    width: 27px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left:27px;
    line-height: 60px; 
}
.scroll-show-fix-ul{
    width: 350px;
    height: 20px;
    float: right;
    padding-top: 20px;
}
.scroll-show-fix-ul>li{
 float: left;
}
.scroll-show-fix-ul>li>a{
    padding-right: 20px;
    padding-left: 10px;
    border-right: 1px solid #ccc;
}
.scroll-show-fix-boxActive{
    position: fixed;
    top:0;
    z-index: 2;
}






#main-img{
    width: 100%;
    height: 800px;
}
.main-img{
    width: 1280px; 
    height: 800px;
    margin: 0 auto;
}
.iphone-box{
    width: 450px;
    height: 500px;
    /* background: pink; */
    float: left;
    position: relative;

}
.show-image{
    width: 450px;
    height: 450px;
}
.small-img{
    width: 450px;
    height: 450px;
}
.show-big-image{
    width: 500px;
    height: 600px;
    position: absolute;
    left: 450px;
    top:0px;
    overflow: hidden;   
}
.img-box{
    width: 400px;
    height: 190px;
    overflow: hidden;
    
}
.img-box>li{
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 10px;
}
.img-box>li>img{
    display: block;
    width: 54px;
    height: 54px;
}
.filter{
    width: 200px;
    height: 200px;
    background: rgba(255, 255,255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.active{
    border: 1px solid red;
}
#big-image{
    width: 800px;
    height: 800px;
    position: absolute;
    top:0px;
    left: 0px;
}





.pric{
    padding-left: 30px;
    width: 800px;
    height: 800px;
    float: right;
    /* background: pink; */
}
.user-adderss{
    width: 300px;
    height: 80px;
    border: 1px solid #000;
    text-align: center;
    line-height: 100px;
    /* margin: 0 auto; */
}
.iphone-parameter{
    width: 600px;
    height: 200px;
}
.iphone-parameter>li{
    width: 250px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #000;
}
.iphone-parameter-color{
    width: 16px;
    height: 16px;
    border-radius: 50%;  
}
.check{
    border:1px solid red !important;
    color: red;
}
.shop-car-btn-aaa-inp-aaa{
    width: 250px;
    height: 50px;
    border: 0;
    background: #ccc;
    float: left;
}
.shop-car-btn-aaa{
    width: 80px;
    height: 50px;
    float: left;
    border: 0;
    background: orange;
}
